@media (max-width:460px){
   
    p {
        font-size: 20px !important;
    }
    div#cont{
        top: 20% !important;
        width: auto !important;
    }
    #help{
        bottom: 100px  !important;
    }
    html{
        overflow: hidden !important;
    }
    
    .art{
        padding: 20px 0;
    }
}